main[b-b36hcmok3o] {
    display: flex;
    flex-wrap: wrap;
}

h2[b-b36hcmok3o] {
    text-align: center;
}

.left-column[b-b36hcmok3o] {
    float: left;
    width: 50%;
}

.right-column[b-b36hcmok3o] {
    float: right;
    width: 50%;
}

label[b-b36hcmok3o], input[b-b36hcmok3o], select[b-b36hcmok3o], button[b-b36hcmok3o] {
    margin-top: 10px;
}

label[b-b36hcmok3o] {
    text-align: right;
}

input[b-b36hcmok3o], select[b-b36hcmok3o] {
    border: 1px solid;
}

button[b-b36hcmok3o] {
    float: right;
}